.transaction_card {
	background: linear-gradient(360deg, #310904 0%, #00000079 100%);

	&.confirmed {
		background: linear-gradient(360deg, #080847 0%, #00000079 100%);
	}

	&.executed {
		background: linear-gradient(360deg, #052e18 0%, #00000079 100%);
	}

	&.approved {
		background: linear-gradient(360deg, #240744 0%, #00000079 100%);
	}
}
