@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Tilt+Neon&display=swap");

.header {
	position: absolute;
	top: 0;
	z-index: 2;
	padding: 1rem;
	width: 100%;

	.logo_container {
		width: 30px;
	}

	.logo_text {
		display: block;
		color: #fff;
		font-family: "Tilt Neon", sans-serif;
		font-size: 1.4rem;
		margin-bottom: 0.3rem;
	}
}
