.create_page {
	height: 100vh;

	.loader_container {
		h2 {
			color: #fff;
			transform: translateY(-150px);
			font-size: 2rem;
			font-weight: 700;
		}
	}
	.create_card {
		background-color: #111111c9;
		color: #fff;
		max-width: 900px;

		h1 {
			font-size: 2.2rem;
		}

		p {
			font-size: 1.2rem;
			margin: 1rem 0;

			&.small_text {
				font-size: 0.9rem;
				font-weight: 300;
			}
		}

		button {
			margin-left: auto;
		}

		.confirmation_input {
			max-width: 60px;

			input {
				background-color: transparent;
				color: #fff;
				width: 100%;
			}
		}

		.owners_input_list {
			margin-bottom: 3rem;

			.owner_input {
				position: relative;
				width: 380px;
				.fas {
					position: absolute;
					top: -5px;
					right: -5px;
					font-size: 1.2rem;

					&:hover {
						color: #fa4040;
					}
				}
			}
		}
	}
}
