.portal_page {
	padding: 8rem 3rem;

	.fas {
		font-size: 2rem;
		transition: 200ms ease-in-out;

		&:hover {
			transform: translateX(-3px);
			opacity: 0.8;
		}
	}

	.portal_page_content {
		position: relative;
	}
}
