.wallets_page {
	min-height: 100vh;

	.portal_card {
		background-color: #111111c9;
		color: #fff;
		max-width: 900px;
		cursor: pointer;
		transition: 200ms ease-in-out;

		h3 {
			font-size: 1rem;
			color: #fff;
		}

		&:hover,
		&:focus-visible {
			transform: translateY(-5px);
			background-color: #111111;
			box-shadow: 4px 4px 0px #fff;
		}
	}
}
